<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>BookStoreServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>contentType</param-name>
		<param-value>text/html; charset=UTF-8</param-value>
	</context-param>

	<servlet>
		<servlet-name>BookServlet</servlet-name>
		<servlet-class>idv.david.book.controller.BookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookServlet</servlet-name>
		<url-pattern>/BookServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>idv.david.member.controller.MemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/MemberServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>idv.david.orders.controller.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CategoryServlet</servlet-name>
		<servlet-class>idv.david.category.controller.CategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryServlet</servlet-name>
		<url-pattern>/CategoryServlet</url-pattern>
	</servlet-mapping>

</web-app>